.side-bar{
    background-color: #3C4B64;
    border-radius: 2rem;
}
li{
    color: white;
    text-decoration: none;
    text-align: center;
}
Link{
    text-decoration: none;
    color: wheat;
}
a {
    text-decoration: none !important;
    color: white;
}
a:hover{
    color:white
}
li:hover {
    background-color: #2518AF;
    text-decoration:none;
    cursor:pointer;
    color: red;
    
}
.sidebar-text{
color: violet;
text-align: center;
font-size: 1.5rem;
font-weight: 900;
}